@charset "utf-8";
/* CSS Document */
body
{
	margin: 0px auto;

}
#Tong
{
	margin: 0px auto;
}
.form
{
	margin: 0 auto;
	width: 500px;
	
}
input
{
	height: 32px; 
	width: 500px;
	border: 1px solid;
	border-radius: 5px;
}
.click{
	background: rgba(47,159,187,1.00); 
	color: #FFF; 
	height: 50px;
	margin-top: 20px;
}
.anh{
	max-width: 100px;
	max-height: 150px;
}